@model IEnumerable<restaurantdelivery1.Models.MenuItem>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdRestaurantNavigation.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdRestaurantNavigation.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdMenuItem">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdMenuItem">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdMenuItem">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
