@model IEnumerable<FoodDelivery.Models.RestaurantMenu>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MenuName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MenuType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RestaurantNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MenuName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MenuType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RestaurantNavigation.IdRestaurant)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdRestaurantMenu">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdRestaurantMenu">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdRestaurantMenu">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
